<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Company_Info</title>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
</head>
<body>
  <div id="stock-chart"></div>
  <div id="profile">
    <p> {{ profile['Name']}}({{ profile['Symbol']}})</p>
    <p> {{ profile['Exchange']}}, {{ profile['Sector']}}, {{ profile['Industry']}} </p>
    <p> {{ profile['Description']}} </p>
  </div>
  <div id="current">
    <p id="time">{{ price['time'] }} </p>
    <p id="current_price">{{ price['current_price'] }} </p>
    <p id="price_change">{{ price['price_change'] }} </p>
    <p id="per_change">{{ price['per_change'] }}% </p>

  </div>
  <div id="basis">
    <table>
       <tr>
         <td>Updated date:</td>
         <td> {{ price['date'] }} </td>
         <td>Previous Close:</td>
         <td> {{ price['previous_close'] }} </td>
      </tr>
        <tr>
       <td>Previous Open:</td>
        <td>  {{ price['previous_open'] }}</td>
        <td>Previous Vol:</td>
        <td>  {{  price['previous_vol'] }}</td>
      </tr>
      <tr>
        <td>Market Capitalization:</td>
        <td> {{ profile['MarketCapitalization'] }} </td>
        <td> P/E Ratio:</td>
        <td>  {{ profile['PERatio'] }}</td>
      </tr>
      <tr>
        <td>Dividend per Share:</td>
        <td> {{ profile['DividendPerShare'] }} </td>
        <td> Dividend Yield:</td>
        <td>  {{ profile['DividendYield'] }}</td>
      </tr>
      <tr>
        <td>52 Week High:</td>
        <td> {{ profile['52WeekHigh'] }} </td>
        <td>52 Week Low:</td>
        <td>  {{ profile['52WeekHigh'] }}</td>
      </tr>
    </table>
  </div>

  <div id = trading>
    <form method="post" action="/company_info/<symbol>" onsubmit="return confirmTrade()">
      <p> Current Balance: </p>
      <input type="text" id="current_balance" name="current_balance" value="{{balance}}" readonly>
      <p> Trade Symbol: </p>
      <input type="text" id="symbol" name ='symbol' value="{{ profile['Symbol']}}" readonly>
      <p> Trade Type: </p>
      <select id="buy_sell_select" name="buy_sell_select">
        <option value selected> Choose Buy or Sell </option>
        <option value="Buy"> Buy </option>
        <option value="Sell"> Sell </option>
      </select>
      <p> Trade Volume: Current Position is <span id ='cur_col'>{{cur_vol}}</span></p>
      <input type="text" id="trade_vol" name="trade_vol">
      <p> Trade Price:<p>
      <input type="text" id="price" name="price" value="{{ price['current_price']}}" readonly>
      <div>
        <button type ="submit"> Confirm </button>
      </div>
    </form>
  </div>

<script>
  // Parse the stock_data JSON string passed from Flask
  const stockData = JSON.parse('{{ stock_data | tojson | safe }}');

  // Prepare data for the chart
  const trace = {
      x: stockData.map(data => data.date),
      y: stockData.map(data => data.close),
      type: 'scatter',
      mode: 'lines',
      name: '{{ symbol }}',
  };

  // Chart layout settings
  const layout = {
      title: '{{ symbol }} Prices History:',
      xaxis: {
          title: 'Date',
          showgrid: true,
          zeroline: true
      },
      yaxis: {
          title: 'Price',
          showline: true
      }
  };

  // Render the chart
  Plotly.newPlot('stock-chart', [trace], layout);
</script>

<script>

function confirmTrade() {
  var current_balance = parseFloat(document.querySelector("#current_balance").value);
  var tradeSymbol = document.querySelector("#symbol").value;
  var tradeType = document.querySelector("#buy_sell_select").value;
  var tradeVolume = parseFloat(document.querySelector("#trade_vol").value);
  var tradePrice = parseFloat(document.querySelector("#price").value);
  var cur_volSpan = document.getElementById('cur_col');
  var cur_vol = parseFloat(cur_volSpan.textContent);
  if (tradeVolume <= 0 || isNaN(tradeVolume) || tradeType === "") {
    alert("Please enter a valid trade volume and select a trade type.");
    return false;
  }
  if (tradeType == "Sell"){
    if ( cur_vol < tradeVolume ){
      alert("You do not have enough position.")
      return false;
      }
    }
  var post_trade_balance;
  if (tradeType === "Buy") {
    post_trade_balance = current_balance - (tradeVolume * tradePrice);
    if (post_trade_balance < 0) {
      alert("You do not have enough funds to complete this trade.");
      return false;
    }
  } else if (tradeType === "Sell") {
    post_trade_balance = current_balance + (tradeVolume * tradePrice);
  } else {
    alert("Please select a valid trade type.");
    return false;
  }
  var message = "Current Balance: " + current_balance.toFixed(2) + "\n" +
                "Trade Symbol: " + tradeSymbol + "\n" +
                "Trade Type: " + tradeType + "\n" +
                "Trade Volume: " + tradeVolume.toFixed(2) + "\n" +
                "Trade Price: " + tradePrice.toFixed(2) + "\n" +
                "Post-trade Balance: " + post_trade_balance.toFixed(2) + "\n" +
                "Are you sure you want to confirm the trade?";
  return confirm(message);
}

</script>

</body>
</html>