<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome</title>
</head>
<body>
  <div>
    <a href = "{{ url_for('login') }}" > Start Here </a>
  </div>
</body>
</html>