/* styles.css */

/* Global styles */
body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  color: #333;
  background-color: #fff;
  margin: 0;
}

a {
  color: #337ab7;
  text-decoration: none;
}

a:hover {
  color: #23527c;
  text-decoration: underline;
}

/* Navbar styles */
.navbar {
  margin-bottom: 0;
  border-radius: 0;
  background-color: #428bca;
  color: #fff;
}

.navbar-brand {
  font-size: 18px;
  font-weight: 400;
  padding: 15px 15px;
}

.navbar-nav > li > a {
  color: #fff;
  padding: 15px;
}

.navbar-nav > li > a:hover,
.navbar-nav > li > a:focus {
  background-color: #3071a9;
  color: #fff;
}

/* Form styles */
.form-inline {
  display: flex;
  flex-direction: row;
}

.form-group {
  margin-right: 10px;
}

.form-control {
  display: inline-block;
  width: auto;
  vertical-align: middle;
}

/* Stock summary styles */
.stock-summary {
  margin-top: 30px;
}

.stock-symbol {
  font-size: 36px;
  font-weight: 400;
  margin-bottom: 10px;
}

.stock-name {
  font-size: 24px;
  font-weight: 400;
  margin-bottom: 10px;
}

.stock-info {
  margin-bottom: 5px;
}

.stock-info > p {
  margin-bottom: 5px;
}

.stock-info > p > strong {
  margin-right: 10px;
  font-weight: 600;
}

.stock-chart {
  margin-top: 30px;
}

/* News styles */
.news {
  margin-top: 30px;
}

.news-item {
  margin-bottom: 10px;
}

.news-item > h4 {
  margin-bottom: 5px;
}

.news-item > p {
  margin-bottom: 5px;
}

/* Footer styles */
.footer {
  padding: 20px;
  background-color: #f5f5f5;
  text-align: center;
}
