dl, ol, ul {
  margin-top: 0;
}

ol, ul {
  margin-bottom: 11px;
}

.btn-custom:hover {
  /*background-color: #444444;*/
  /*text-decoration: none;*/
  font-weight: bold;
  /*background-color: #ffffff;*/
  /*background-color: #444444;*/
  /*text-decoration: none;*/
}

h1 {
  margin: .67em 0;
}

.h1 .small, .h1 small, .h2 .small, .h2 small, .h3 .small, .h3 small, .h4 .small, .h4 small, .h5 .small, .h5 small, .h6 .small, .h6 small, h1 .small, h1 small, h2 .small, h2 small, h3 .small, h3 small, h4 .small, h4 small, h5 .small, h5 small, h6 .small, h6 small {
  font-weight: 400;
  line-height: 1;
  color: #777;
}

.h1 .small, .h1 small, .h2 .small, .h2 small, .h3 .small, .h3 small, h1 .small, h1 small, h2 .small, h2 small, h3 .small, h3 small {
  font-size: 65%;
}

.small, small {
  font-size: 85%;
}

@media (min-width:768px) {
  .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9 {
    float: left;
  }
}

@media (min-width:768px) {
  .col-sm-12 {
    width: 100%;
  }
}

header {
  height: 100px;
}

div#cover {
  height: 100vh;
  background-image: -webkit-linear-gradient(top, #ccc, #777);
  background-image: -moz-linear-gradient(top, #ccc, #777);
  background-image: -o-linear-gradient(top, #ccc, #777);
  background-image: -ms-linear-gradient(top, #ccc, #777);
  background-image: linear-gradient(top, #ccc, #777);
  width: 100%;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-color: #000;
  background-repeat: no-repeat;
  background-position: center center;
  position: relative;
  background-attachment: fixed;
  overflow: hidden;
}

div#cover-img {
  height: 100vh;
  /*background-image: url('../../assets/img/cover01.jpg');*/
  width: 100%;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  text-align: center;
  vertical-align: middle;
  position: relative;
  background-attachment: fixed;
}

div#cover-filter {
  /*background-repeat: repeat;*/
  height: 100vh;
  background-image: -moz-linear-gradient(top, rgba(0,0,0,0.20), rgba(10,143,196,0.20));
  background-image: -webkit-linear-gradient(top, rgba(0,0,0,0.20), rgba(10,143,196,0.20));
  background-image: -o-linear-gradient(top, rgba(0,0,0,0.20), rgba(10,143,196,0.20));
  background-image: -ms-linear-gradient(top, rgba(0,0,0,0.20), rgba(10,143,196,0.20));
  background-image: linear-gradient(top, rgba(0,0,0,0.20), rgba(10,143,196,0.20));
  filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#cc000000', endColorstr='#cc0a8fc4');
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

div#text-container.container {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: 1200px;
  padding: 0;
}

div.valign {
  display: table-cell;
  height: 100vh;
  vertical-align: middle;
}

div#cover-text {
  font-family: 'Roboto', sans-serif;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  padding: 0;
  padding-top: 42px;
  padding-bottom: 42px;
}

p#cover-description.lead {
  text-transform: uppercase;
  color: #fff;
  padding-bottom: 60px;
  padding-top: 30px;
}

h1#cover-offer1 {
  color: #fff;
  padding: 24px 0px 38px 0px;
  letter-spacing: 0.5px;
  font-size: 72px;
  font-weight: 600;
  line-height: 1.17;
}

small#cover-offer2 {
  color: #fff;
}

header {
  height: 100px;
  background: #e3e6e8;
  border-top-style: none;
  border-bottom-style: outset;
  border-bottom-color: var(--bs-gray-500);
}

.h1, h1 {
  font-size: 36px;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

@media (min-width:992px) {
  .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9 {
    float: left;
  }
}

@media (min-width:992px) {
  .col-md-4 {
    width: 33.3333333333%;
  }
}

.h4, .h5, .h6, h4, h5, h6 {
  margin-top: 11px;
  margin-bottom: 11px;
}

.h2, h2 {
  font-size: 30px;
}

.h4, h4 {
  font-size: 18px;
}

.lead {
  margin-bottom: 22px;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.4;
}

@media (min-width:768px) {
  .lead {
    font-size: 21px;
  }
}

.text-muted {
  color: #777;
}

@media (min-width:768px) {
  .container {
    width: 750px;
  }
}

.container, .container-fluid {
  margin-right: auto;
  margin-left: auto;
}

.container, .container-fluid {
  padding-left: 15px;
  padding-right: 15px;
}

@media (min-width:992px) {
  .container {
    width: 970px;
  }
}

@media (min-width:1200px) {
  .container {
    width: 1170px;
  }
}

.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}

.btn-group-vertical > .btn-group:after, .btn-toolbar:after, .clearfix:after, .container-fluid:after, .container:after, .dropdown-menu > li > a, .form-horizontal .form-group:after, .modal-footer:after, .modal-header:after, .navbar-collapse:after, .navbar-header:after, .navbar:after, .pager:after, .panel-body:after, .row:after {
  clear: both;
}

.container-fluid:after, .container-fluid:before, .container:after, .container:before, .row:after, .row:before {
  display: table;
  content: " ";
}

.row {
  margin-left: -15px;
  margin-right: -15px;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  font-family: inherit;
  font-weight: 500;
  line-height: 1.1;
  color: inherit;
}

.h1, .h2, .h3, h1, h2, h3 {
  margin-top: 22px;
  margin-bottom: 11px;
}

.h3, h3 {
  font-size: 24px;
}

p {
  margin: 0 0 11px;
}

.text-center {
  text-align: center;
}

a {
  background-color: transparent;
}

a:active, a:hover {
  outline: 0;
}

a {
  color: #3097D1;
  text-decoration: none;
}

a:focus, a:hover {
  color: #216a94;
  text-decoration: underline;
}

a:focus {
  outline: -webkit-focus-ring-color auto 5px;
  outline-offset: -2px;
}

hr, img {
  border: 0;
}

img {
  vertical-align: middle;
}

.btn, .btn-danger.active, .btn-danger:active, .btn-default.active, .btn-default:active, .btn-info.active, .btn-info:active, .btn-primary.active, .btn-primary:active, .btn-warning.active, .btn-warning:active, .btn.active, .btn:active, .dropdown-menu > .disabled > a:focus, .dropdown-menu > .disabled > a:hover, .form-control, .navbar-toggle, .open > .btn-danger.dropdown-toggle, .open > .btn-default.dropdown-toggle, .open > .btn-info.dropdown-toggle, .open > .btn-primary.dropdown-toggle, .open > .btn-warning.dropdown-toggle {
  background-image: none;
}

.btn {
  display: inline-block;
  margin-bottom: 0;
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  border: 1px solid transparent;
  white-space: nowrap;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.6;
  border-radius: 4px;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.btn.active.focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn:active:focus, .btn:focus {
  outline: -webkit-focus-ring-color auto 5px;
  outline-offset: -2px;
}

.btn.focus, .btn:focus, .btn:hover {
  color: #636b6f;
  text-decoration: none;
}

.btn.active, .btn:active {
  outline: 0;
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
}

img {
  border-radius: 5px;
}

* {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

