b, optgroup, strong {
  font-weight: 700;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  font-family: inherit;
  font-weight: 500;
  line-height: 1.1;
  color: inherit;
}

.h1, .h2, .h3, h1, h2, h3 {
  margin-top: 22px;
  margin-bottom: 11px;
}

.h3, h3 {
  font-size: 24px;
}

p {
  margin: 0 0 11px;
}

.text-center {
  text-align: center;
}

.img-responsive, .img-thumbnail, .table, label {
  max-width: 100%;
}

a {
  background-color: transparent;
}

a:active, a:hover {
  outline: 0;
}

a {
  color: #3097D1;
  text-decoration: none;
}

a:focus, a:hover {
  color: #216a94;
  text-decoration: underline;
}

a:focus {
  outline: -webkit-focus-ring-color auto 5px;
  outline-offset: -2px;
}

dt, kbd kbd, label {
  font-weight: 700;
}

label {
  display: inline-block;
  margin-bottom: 5px;
}

.btn-primary {
  color: #fff;
  background-color: #3097D1;
  border-color: #2a88bd;
}

.btn-primary.focus, .btn-primary:focus {
  color: #fff;
  background-color: #2579a9;
  border-color: #133d55;
}

.btn-primary.active, .btn-primary:active, .btn-primary:hover, .open > .btn-primary.dropdown-toggle {
  color: #fff;
  background-color: #2579a9;
  border-color: #1f648b;
}

.btn-primary.active.focus, .btn-primary.active:focus, .btn-primary.active:hover, .btn-primary:active.focus, .btn-primary:active:focus, .btn-primary:active:hover, .open > .btn-primary.dropdown-toggle.focus, .open > .btn-primary.dropdown-toggle:focus, .open > .btn-primary.dropdown-toggle:hover {
  color: #fff;
  background-color: #1f648b;
  border-color: #133d55;
}

.btn-primary:hover {
  color: #fff;
  background-color: #4daade;
  border-color: #4daade;
  box-shadow: 0px 10px 15px rgba(157,157,157,0.4);
}

.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show > .btn-primary.dropdown-toggle {
  color: #fff;
  background-color: #4daade;
  border-color: #4daade;
}

hr, img {
  border: 0;
}

img {
  vertical-align: middle;
}

button {
  overflow: visible;
}

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

.btn, .btn-danger.active, .btn-danger:active, .btn-default.active, .btn-default:active, .btn-info.active, .btn-info:active, .btn-primary.active, .btn-primary:active, .btn-warning.active, .btn-warning:active, .btn.active, .btn:active, .dropdown-menu > .disabled > a:focus, .dropdown-menu > .disabled > a:hover, .form-control, .navbar-toggle, .open > .btn-danger.dropdown-toggle, .open > .btn-default.dropdown-toggle, .open > .btn-info.dropdown-toggle, .open > .btn-primary.dropdown-toggle, .open > .btn-warning.dropdown-toggle {
  background-image: none;
}

button, input, select, textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

.form-control, output {
  font-size: 14px;
  line-height: 1.6;
  color: #555;
  display: block;
}

.form-control {
  width: 100%;
  height: 36px;
  padding: 6px 12px;
  background-color: #fff;
  border: 1px solid #ccd0d2;
  border-radius: 4px;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.form-control:focus {
  border-color: #98cbe8;
  outline: 0;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(152, 203, 232, .6);
}

.btn {
  display: inline-block;
  margin-bottom: 0;
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  border: 1px solid transparent;
  white-space: nowrap;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.6;
  border-radius: 4px;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.btn.active.focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn:active:focus, .btn:focus {
  outline: -webkit-focus-ring-color auto 5px;
  outline-offset: -2px;
}

.btn.focus, .btn:focus, .btn:hover {
  color: #636b6f;
  text-decoration: none;
}

.btn.active, .btn:active {
  outline: 0;
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
}

input[type="text"], input[type="email"], input[type="tel"], textarea {
  border-radius: 0 !important;
}

input[type="text"], input[type="email"], input[type="tel"], textarea {
  border-radius: 8px !important;
}

img {
  border-radius: 5px;
}

button, input, optgroup, select, textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}

button, select {
  text-transform: none;
}

* {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

#main {
  height: 100vh;
  /*background: url("../../assets/img/login.webp");*/
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

#info {
  width: 90%;
  height: 460px;
  border-radius: 5px;
  color: var(--bs-white);
  background-color: rgba(0,0,0, 0.35);
  left: 50%;
  top: 40%;
  position: absolute;
  transform: translate(-50%,-50%);
  font-size: 12px;
}

@media (min-width: 576px) {
  #info {
    max-width: 350px;
  }
}

#form-login {
  max-width: 70%;
  margin: 0 auto;
  margin-top: 50px;
}

#ventaspro-logo {
  margin-top: 20px;
  margin-bottom: 10px;
}

