{% extends 'base.html' %}

{% block content %}
  <div class="container mt-5">
    <h2 class="mb-3">Welcome to the Stock Information Page</h2>
    <form action="{{ url_for('stock') }}" method="POST">
      <div class="form-group">
        <label for="symbol">Stock Symbol:</label>
        <input type="text" name="symbol" id="symbol" class="form-control" required>
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>
{% endblock %}
