{% extends 'base.html' %}
{% block content %}
  <div class="container mt-5">
    <form action="{{ url_for('stock') }}" method="POST">
      <div class="form-group">
        <label for="symbol">Stock Symbol:</label>
        <input type="text" name="symbol" id="symbol" class="form-control" required>
        <button type="submit" class="btn btn-primary">Submit</button>
      </div>
    </form>
    <h2 class="my-3 ">{{ stock['overview']['Name'] }} ({{ stock['overview']['Symbol'] }})</h2>
    <div class="row">
      <div class="col-lg-6">
        <h3>Summary</h3>
        <ul class="list-unstyled">
          <li><strong>Sector:</strong> {{ stock['overview']['Sector'] }}</li>
          <li><strong>Industry:</strong> {{ stock['overview']['Industry'] }}</li>
          <li><strong>Market Capitalization:</strong> {{ stock['overview']['MarketCapitalization']}}</li>
          <li><strong>Price to Earnings Ratio:</strong> {{ stock.overview.PERatio }}</li>
          <li><strong>Earnings per Share:</strong> {{ stock.overview.EPS }}</li>
          <li><strong>Dividend and Dividend Yield:</strong> {{ stock.overview.DividendPerShare }} ({{ stock.overview.DividendYield }})</li>
          <li><strong>Stock Exchange:</strong> {{ stock.overview.Exchange }}</li>
        </ul>
        <h3>Price Information</h3>
        <ul class="list-unstyled">
          <li><strong>Current Price:</strong> {{ stock['quote']['Global Quote']['05. price'] }}</li>
          <li><strong>Previous Close:</strong> {{ stock['quote']['Global Quote']['08. previous close'] }}</li>
          <li><strong>Open:</strong> {{ stock['quote']['Global Quote']['02. open'] }}</li>
          <li><strong>Volume:</strong> {{ stock['quote']['Global Quote']['06. volume'] }}</li>
          <li><strong>52 Week High:</strong> {{ stock['overview']['52WeekHigh']}}</li>
          <li><strong>52 Week Low:</strong> {{ stock['overview']['52WeekLow'] }}</li>
        </ul>
      </div>
      <div class="col-lg-6"> 
        <div id="my-div" data-my-var="{{ symbol }}"></div>
        <div id="myDiv"></div>
        <script src="https://cdn.plot.ly/plotly-2.15.0.min.js"></script>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script src="/static/home.js"></script>
      </div>
      <div class="col-12">
        <h4>News</h4>
        {% if stock['news'] %}
          <ul>
            {% for article in stock.news %}
              <div class="mb-3">
                <a href="{{ article.url }}" target="_blank"><h5>{{ article.title }}</h5></a>
                <p>{{ article.summary }}</p>
              </div>
            {% endfor %}
          </ul>
        {% else %}
          <p>No news available for this stock.</p>
        {% endif %}
        
      </div>

    </div>
  </div>
  
{% endblock %}
