<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
    <form method = "post">
        <div>
            <label for="email"> Email:</label>
            <input type="text" id = "email" name = "email">
        </div>
        <div>
            <label for="password"> Password:</label>
            <input type="text" id = password name = "password">
        </div>
        <div>
            <button type="submit" >Login</button>
        </div>
    </form>
    <div>
        <p style="color:red;">
            {% if err_msg %}
            {{ err_msg}}
            {% endif %}
        </p>
    </div>
    <div>
        <p> Don't have an account <a href = "{{ url_for('register') }}">Sign Up Here</a> </p>
    </div>
</body>
</html>