<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
</head>
<body>
  <form method="post">
    <div>
      <label for="username"> Username:</label>
      <input type="text" id="username" name = 'username'>
    </div>
    <div>
      <label for="email"> Email:</label>
      <input type="text" id="email" name = 'email'>
    </div>
    <div>
      <label for="password"> Password:</label>
      <input type="text" id="password" name = 'password'>
    </div>
    <div>
      <button type="submit" >Register</button>
    </div>
  </form>

  <div>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <div class="alert alert-success">
      {% for message in messages %}
        {{ message }}
      {% endfor %}
    </div>
    <script>
      setTimeout(function() {
        window.location.href = "{{ url_for('login') }}";
      }, 3000);
    </script>
    {% endif %}
    {% endwith %}
  </div>

  <div>
    <p style="color:red;">
      {% if err_msg %}
      {{ err_msg}}
      {% endif %}
    </p>
  </div>
  <div>
    <p> Already have an account? <a href = "{{ url_for('login') }}">Login Here</a> </p>
  </div>
</body>
</html>