<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>finance_home</title>
        <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs5/dt-1.11.3/datatables.min.css"/>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.13.2/css/dataTables.bootstrap5.min.css"/>
     <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
</head>
<body>
    <p> Finance_Home</p>
    <p> Welcome,{{username}},<a href = "{{ url_for('login') }}">Sign_Out</a></p>
    <form method = 'post'>
        <input type="text" id="search_content" name="search_content" placeholder="Please input company symbol">
        <button type="submit" >Search</button>
    </form>
    <h2>DashBoard</h2>
    <h4>My Portfolio</h4>
    <table id="example1" class="table table-striped table-bordered" style="width:100%">
        <p> Total Revenue : {{total_revenue}}
         <thead>
            <tr>
                <th>Symbol</th>
                <th>Position</th>
                <th>Current_Price</th>
                <th>Revenue</th>
            </tr>
        </thead>
          <tbody>
          {% for symbol in portfolio %}
                <tr>
                   <td>{{ symbol }}</td>
                    <td>{{ portfolio[symbol]['total_volume'] }}</td>
                    <td>{{ portfolio[symbol]['current_price'] }}</td>
                    <td>{{ portfolio[symbol]['revenue'] }}</td>
                </tr>
          {% endfor %}
        </tbody>
     </table>



    <h4>Trade History</h4>
     <table id="example2" class="table table-striped table-bordered" style="width:100%">
         <thead>
            <tr>
                <th>Settlement Date</th>
                <th>Symbol</th>
                <th>Trade Type</th>
                <th>Settlement Price</th>
                <th>Volume</th>
                <th>Balance</th>
            </tr>
        </thead>
          <tbody>
          {% for row in data %}
                <tr>
                    <td>{{ row[1] }}</td>
                    <td>{{ row[0] }}</td>
                    <td>{{ row[2] }}</td>
                    <td>{{ row[3] }}</td>
                    <td>{{ row[4] }}</td>
                    <td>{{ row[5] }}</td>
                </tr>
          {% endfor %}
        </tbody>
     </table>
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/v/bs5/dt-1.11.3/datatables.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            $('#example1').DataTable();
            $('#example2').DataTable();
        } );
    </script>

    <div id="stock-chart"></div>
<script>
  // Parse the stock_data JSON string passed from Flask
  const stockData = JSON.parse('{{ stock_data | tojson | safe }}');

  // Prepare data for the chart
  const trace = {
      x: stockData.map(data => data.date),
      y: stockData.map(data => data.close),
      type: 'scatter',
      mode: 'lines',
      name: '{{ symbol }}',
  };

  // Chart layout settings
  const layout = {
      title: '{{ symbol }} Prices History : ',
      xaxis: {
          title: 'Date',
          showgrid: true,
          zeroline: true
      },
      yaxis: {
          title: 'Price',
          showline: true
      }
  };

  // Render the chart
  Plotly.newPlot('stock-chart', [trace], layout);
</script>



</body>
</html>